body {
  width: 100%;
  background-color: #D6EAF8;
}

h1 {
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-size: 5em;
}

h2 {
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-size: 4em;
}

footer {
  text-align: center;
  margin-top: 20%;
}

label {
  text-align: center;
  margin-left: 20%;
}

li {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rules {
  margin: 5%;
  margin-left: 10%;
  padding: 5%;
  width: 50%;
  border-style: double;
  background-color: #00CED1;
}

#output {
  display: none;
}
